:root{
    --background-color: #212534;
}
  
body{
    background-color: var(--background-color);
}
.responsive-photo img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 55% 15%;

}

.slide img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#csik{
    height: 6px;
    background-color: rgb(0,0,0,0);
    border-radius: 10px;
    margin: 70px 0;

    animation: glowing 2s ease-in-out infinite alternate;
}


main{
    margin-top: 50px;
}

.bev{
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 30px 0;
    
}

.bev p{
    text-align: justify;
}

.bev img{
    border-radius: 15px;
    width: 270px;
    height: 270px;
    object-fit: cover;
    object-position: 55% 15%;
}




/* */

.card-profil{
    margin: 15px 0;
    
}

.card-main{
    animation: glowing 2s ease-in-out infinite alternate;
    border-radius: 22px;
}

.people img{
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.people .text{
    font-size: 1.1rem;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    background-color: #191c29;
}

.people p{
    text-align: justify;
}

@media (max-width: 991px) {
    .people img{
        height: 456px;
        object-position: 30% 34%;
    }
}

footer{
    background-color: #fff;
    padding: 7px;
    font-weight: bold;
}

.home{
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 60px;
    
}
.home a{
    text-decoration: none;
    color: rgb(168, 0, 0);
    transition: 0.2s;
    transform: rotate(0);
}

.home a:hover{
    color: grey; 
    transform: scale(1.15);
}




.card {
    background: #191c29;
    width: 100%;
    height: auto;
    padding: 3px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7em;
    color: rgba(251, 251, 251); 
    animation: glowing 2s ease-in-out infinite alternate;
  }
  

/*   
  @-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 10px #000282, 0 0 11px #0c2ff5, 0 0 12px #4d73cd, 0 0 13px #bed4ff;
    }
    
    to {
      box-shadow: 0 0 10px #211f56, 0 0 11px #2f3297, 0 0 12px #566acf, 0 0 13px #b8b2fc;
    }
  } */


  @-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 12.5px #5ddcff, 0 0 13px #3c67e3, 0 0 13.5px #4e00c2, 0 0 14px #1401ea;
    }
    
    to {
        box-shadow: 0 0 12.5px #49adc8, 0 0 13px #3054c0, 0 0 13.5px #4000a1, 0 0 14px #1000c4;
    }
  }