/* Alapártelmezett beállítások */

:root{
    --background-color: #212534;
}


body{
    background-color: var(--background-color);
}

.responsive-photo img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 55% 15%;

}

main{
    margin-top: 50px;
}

/* Slider */
.slide img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* Csík/vonal */
#csik{
    height: 6px;
    background-color: rgb(0,0,0,0);
    border-radius: 10px;
    margin: 70px 0;

    animation: glowing-blue 2s ease-in-out infinite alternate;
}



/* Kezdőlap bevezető */

.bev{
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 30px 0;
    
}

.bev p{
    text-align: justify;
}

.bev img{
    border-radius: 15px;
    width: 270px;
    height: 270px;
    object-fit: cover;
    object-position: 55% 15%;
}




/* Kezdőlap kártyák  */

.card-profil{
    margin: 15px 0;
    
}

.card-main{
    animation: glowing-blue 2s ease-in-out infinite alternate;
    border-radius: 22px;
}

.people img{
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.people .text{
    font-size: 1.1rem;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    background-color: #191c29;
}

.people p{
    text-align: justify;
}

@media (max-width: 991px) {
    .people img{
        height: 456px;
        object-position: 30% 34%;
    }
}


/* Footer */
footer{
    background-color: #fff;
    padding: 7px;
    font-weight: bold;
}


/* Aloldal vissza a kezdőlapra */


.home-a{
    text-decoration: none;
    color: #fff;
}


.home-button{
    font-size:2.5rem;
    border:2px solid white;
    border-radius:100px;
    width:60px;
    height:60px;
    padding: 0px 5px 14px 4px;  
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: fixed;
    right: 25px;
    bottom: 25px;  
    animation: glowing-white 2s ease-in-out infinite alternate;

}

.icon{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    
}
.home-button:hover{
    width:125px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    color: #000;
    transition:.3s;
}

.home-button:active{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: .05s
}


/* Kártyák */

.card {
    background: #191c29;
    width: 100%;
    height: auto;
    padding: 3px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7em;
    color: rgba(251, 251, 251); 
    animation: glowing-blue 2s ease-in-out infinite alternate;
}
  

/* Animációk */

@-webkit-keyframes glowing-blue {
    from{
      box-shadow: 0 0 12.5px #5ddcff, 0 0 13px #3c67e3, 0 0 13.5px #4e00c2, 0 0 14px #1401ea;
    }
    
    to{
    box-shadow: 0 0 12.5px #49adc8, 0 0 13px #3054c0, 0 0 13.5px #4000a1, 0 0 14px #1000c4;
    }
 }


@-webkit-keyframes glowing-white {
    from {
      box-shadow: 0 0 8.5px #effafd, 0 0 9px #d8dfe0, 0 0 9.5px #dde0e0, 0 0 10px #c2c3c3;
    }
    
    to {
        box-shadow: 0 0 7.5px #effdfb, 0 0 8px #d8e0de, 0 0 8.5px #dde0de, 0 0 9px #c2c3c2;
    }
}